html, *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px 0;
}
.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.header__logo{
    width: 20%;
    display: flex;
    justify-content: left;
}
.header__img{
    width: 70%;
}

.header__nav{
    display: flex;
    width: 80%;
}

.header__list{
    list-style: none;
    display: flex;
    width: 100%;
    font-size: 13px;
    justify-content: space-between;
    align-items: center;
}



.header__list li a{
    text-decoration: none;
    color: black;
}

.header__search{
    width: 150px;
    position: relative;
}

.header__input{
    width: 100%;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #707070;
    padding: 0 7px;
}

.header__searching{
    width: 15px;
    height: 15px;
    position: absolute;
    right: 5%;
    top: 5px;
    cursor: pointer;
}

.header__profile{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid black;
    overflow: hidden;
}

.header__profile > img{
    width: 80%;
    height: 80%;
}

.news{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    height:450px;
    margin: 150px 0;
}

.news__header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.news__left{
    border-left: 7px solid #EFE71F;
    font-size: 15px;
    text-transform: uppercase;
    padding-left: 10px;
    height: 25px;
    padding-top: 5px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #675B7E;
}

.news__right{
    width: 60px;
    display: flex;
    justify-content: space-between;
}

.news__arrow{
    width: 25px;
    height: 25px;
    border: 1px solid black;
}
.news__arrows{
    display: flex;
    width: 15px;
    height: 100%;
    justify-content: center;
    padding-left: 5px;
}
.news__body{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 25px;

}

.news__content{
    width: 100%;
    height: 450px;
    margin: 50px 0;
    border: 1px solid #ccc;
    box-shadow: 2px 2px rgb(228, 227, 227); 
    border-radius: 5px;
}
.news__h{
    padding: 0px 10px;
}
.news__content-header{
    width: 100%;
    height: 200px;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
}

.news__content-title{
    font-size: 16px;
    padding-top: 15px;
    /* text-align: center; */
    font-weight: bold;
    margin-bottom: 15px;
    height: 65px;
    display: flex;
    overflow: hidden;
}

.news__content-tag p{
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    margin-left: 0px 10px;
    background-color: #EFE71F;
}

.news__content-body{
    height: 80px;
    margin-top: 20px;
    color: #ccc;
    overflow: hidden;
    margin-bottom: 5px ;
}

.news__content-footer{
    display: flex;
    justify-content: space-between;
}

.news__section1{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.news__section1 img{
    height: 15px;
}

.newsh{
    width: 100%;
    display: flex;
    flex-direction: column;
    height:550px;
    margin: 150px 0;
}
.news__video{
    display: flex;
    width: 100%;
    height: 500px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px rgb(228, 227, 227); 
    border-radius: 5px;
    margin: 50px 0px;
    
}
.news__video-content{
    height: 100%;
    width: 60%;
    padding-right: 30px;
}
.news__video-list{
    width: 40%;
    border-top: 7px solid #EFE71F;
    border-bottom: 7px solid #EFE71F;
    overflow: hidden;
    
}
.news__videolist{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 20px;
    font-size: 18px;
    overflow: hidden;
}
.vidlist{
    height: 18px;
    overflow: hidden;
}
.news__video--imgCon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    justify-content: center;
}
.news__video-img{
    display: block;
    padding: 9.5px;
}